<container class="myInfo" id="<%=@state.id%>">
  <h3>My Info</h3>
  <p>
    <strong>State</strong>: <%= @state.name %> <br>
    <strong>Population</strong>: <%= @state.total_population %> <br>
    <strong>Number of Cities</strong>: <%= @state.cities.count %>
  </p>
</container>
