<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort by Crimes
    <span class="caret"></span></a>
    <ul class="dropdown-menu" id="crimeDropdown">
      <button style="border:none; background:none" class="violent_crime">Violent Crime</button>
      <button style="border:none; background:none" class="murder">Murder/Manslaughter</button>
      <button style="border:none; background:none" class="rape">Rape</button>
      <button style="border:none; background:none" class="robbery">Robbery</button>
      <button style="border:none; background:none" class="aggrevated_assault">Aggrevated Assault</button>
      <button style="border:none; background:none" class="property_crime">Propery Crime</button>
      <button style="border:none; background:none" class="burglary">Burglary</button>
      <button style="border:none; background:none" class="larceny_theft">Larceny Theft</button>
      <button style="border:none; background:none" class="motor_vehicle_theft">Motor Vehicle Theft</button>
    </ul>
    <h4 class="currentCrimeFilter">Violent Crime</h4>
  </li>
