<container class="stateBio">
  <%= render "bio_info" %>
  <container class="mostDangerousCities">
    <%= render "crime_dropdown" %>
      <h5>Most Dangerous Cities</h5>
      <h5>Safest Cities</h5>
    <div>
      <ul class="dangerousCitiesList">
      </ul>
    </div>
  </container>
  <container class="safestCities">
    <div class="safeCities">
      <ul class="safestCitiesList">
      </ul>
    </div>
  </container>
</container>
<container>
  <div id="economicsContainer">
    <h6>Average Hours Worked per Week</h6>
    <div class="weeklyHoursContainer" id="container">
    </div>

    <h6>Average Hourly Wage</h6>
    <div class="hourlyWagesContainer" id="container">
    </div>

    <h6>Average Total Earnings per Week</h6>
    <div class="weeklyEarningsContainer" id="container">
    </div>
  </div>
</container>
<container class="allCities">
  <%= render "cities_dropdown" %>
</container>
