<container class="cityPieChart">
  <% cache("city-crimes-chart") do %>
    <%= render "cities_dropdown" %>
    <h3 class=currentCity></h3>
    <%= render "pie_crimes_container" %>
  <% end %>
</container>
