.dangerousCitiesList {
  width:48%;
  margin-right:2%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.safestCitiesList {
  width:48%;
  margin-left:2%;
  margin-right:2%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.dangerCities {
  border: 1px black solid;
  list-style: none;
}

.dangerCities > li {
  margin: 2px;
}

.dangerCities > a {
  margin: 2px;
}

.safeCities {
  border: 1px black solid;
  list-style: none;
}

.safeCities > li {
  margin: 2px;
}

.safeCities > a {
  margin: 2px;
}

.mostDangerousCities > h5 {
  float: left;
  width: 45%;
  text-align: center;
  padding: 3px;
}

h4 {
  text-align: center;
}

.weeklyHoursContainer {
  width: 40%;
  float: left;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}

.hourlyWagesContainer {
  width: 40%;
  float: left;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}

.weeklyEarningsContainer {
  width: 40%;
  align-self: center;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

#economicsContainer > h6 {
  width: 33%;
  text-align: center;
  margin: 2px;
  padding: 2px;
}
