.dangerousCitiesList {
  width:48%;
  margin-right:2%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.safestCitiesList {
  width:48%;
  margin-left:2%;
  margin-right:2%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.dangerCities {
  border: 1px black solid;
  list-style: none;
}

.dangerCities > li {
  margin: 2px;
}

.dangerCities > a {
  margin: 2px;
}

.safeCities {
  border: 1px black solid;
  list-style: none;
}

.safeCities > li {
  margin: 2px;
}

.safeCities > a {
  margin: 2px;
}

.mostDangerousCities > h5 {
  float: left;
  width: 45%;
  text-align: center;
  padding: 3px;
}

h4 {
  text-align: center;
}

#economicsContainer {
  width: 45%;
  text-align: center;
  float: left;
  margin: 2px;
  padding: 2px;
}

.weeklyHoursContainer {
  width: 90%;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}

.hourlyWagesContainer {
  width: 90%;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}

.weeklyEarningsContainer {
  width: 90%;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

#economicsContainer > h6 {
  width: 90%;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.citiesSelector {
  background-color: White;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  font-family: serif;
  font-size: 12px;
  color:  #52527a;
}

#cityDropdownForState {
  width: 50%;
  float: left;
}
