body {
  margin: 15px;
  padding: 10px;
}

h3 {
  font-size: 22px;
  margin: 3px;
  padding: 3px;
}

.stateSelector {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  font-family: serif;
  font-size: 12px;
  color:  #52527a;
}

.dropdown {
  list-style: none;
  text-align: center;
}

.dropdown > .dropdown-toggle {
  color: #52527a;
  font-family: serif;
  font-size: 18px;
}

.dropdown {
  color: green;
}
