body {
  margin: 15px;
  padding: 10px;
}

h3 {
  font-size: 22px;
  margin: 3px;
  padding: 3px;
}

a {
  font-family: serif;
  font-size: 11px;
  color:  #52527a;
  font-weight: bolder;
}

.stateSelector {
  background-color: White;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  font-family: serif;
  font-size: 12px;
  color:  #52527a;
}

#crimeDropdown {
  background-color: White;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  font-family: serif;
  font-size: 12px;
  color:  #52527a;
}

.dropdown {
  list-style: none;
  text-align: center;
}

.dropdown > .dropdown-toggle {
  color: #52527a;
  font-family: serif;
  font-size: 18px;
}

.dropdown {
  color: green;
}

.nationalCrimeChart > .dropdown {
  width: 48%;
  float: left;
  padding-bottom: 30px;
  text-align: center;
}
